<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Bios Update Checker for ASRock</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto|Lato"
    />
    <link rel="icon" href="/favicon.ico" sizes="32x32" />
  </head>
  <body>
    <header id="header">
      <h1>Motherboard Selection</h1>
    </header>

    <main id="main">

      <form action="/submit" method="POST">
        <!-- Form for email subscription -->
        <div class="form-controls">
          <label for="email">Enter your email:</label>
          <input
            type="email"
            id="email"
            name="email"
            required
            placeholder="yourname@example.com"
          />
          <button type="submit">Subscribe</button>
        </div>

        <!-- Socket selection filters -->
        <div class="filterGroup">
          <fieldset class="socket-filters">
            <legend>AMD</legend>
            <div>
              <label for="am4">
                <input type="checkbox" id="am4" class="socket-checkbox" value="AM4" />
                AM4
              </label>
              <label for="am5">
                <input type="checkbox" id="am5" class="socket-checkbox" value="AM5" />
                AM5
              </label>
            </div>
          </fieldset>
          <fieldset class="socket-filters">
            <legend>Intel</legend>
            <div>
              <label for="1700">
                <input type="checkbox" id="1700" class="socket-checkbox" value="1700" />
                LGA 1700
              </label>
              <label for="1851">
                <input type="checkbox" id="1851" class="socket-checkbox" value="1851" />
                LGA 1851
              </label>
            </div>
          </fieldset>
        </div>

        <!-- Table for motherboards -->
        <table id="motherboard-table">
          <thead>
            <tr>
              <th>Select</th>
              <th>Model</th>
              <th>Maker</th>
              <th>Socket</th>
              <th>Link</th>
              <th>BIOS Page</th>
            </tr>
          </thead>
          <tbody>
            <% motherboards.forEach((mobo) => { %>
            <tr data-socket="<%= mobo.socket %>">
              <td>
                <input type="checkbox" class="mobo-checkbox" name="selectedMobo" value="<%= mobo.model %>" />
              </td>
              <td><%= mobo.model %></td>
              <td><%= mobo.maker %></td>
              <td><%= mobo.socket %></td>
              <td><a href="<%= mobo.link %>" target="_blank">Details <i class="fa-sharp fa-solid fa-link"></i></a></td>
              <td>
                <a href="<%= mobo.biosPageLink %>" target="_blank">BIOS Page <i class="fa-sharp fa-solid fa-link"></i></a>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>

      </form>

    </main>

    <footer id="footer">
      <a href="https://github.com/orzcode" target="_blank">
        Created by Orz <i class="fa-brands fa-github"></i>
      </a>
    </footer>

    <script src="/js/allmodels.js"></script>
  </body>
</html>
